@model UserCreateDto
<div class="col-md-8 mx-auto">
    <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">You can sign up easly by just filling out the form.</p>
    </div>
    <h4 class="mb-3">User Information</h4>
    <form class="needs-validation" method="post" asp-action="SignUp" asp-controller="Auth" asp-route-id="@ViewData["RegisterType"]" novalidate>
        <div class="">
            <div class="col-sm-10">
                <label asp-for="Username" class="form-label">UserName</label>
                <input t class="form-control" asp-for=Username required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-sm-10">
                <label asp-for=Password class="form-label">Password</label>
                <input class="form-control" asp-for=Password type="password" required>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
            <div class="col-sm-10">
                <label asp-for=Email class="form-label">Email</label>
                <input asp-for=Email class="form-control" placeholder="you@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="col-sm-10">
                <label asp-for=Address class="form-label">Address</label>
                <input asp-for=Address class="form-control" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="col-sm-10">
                <label asp-for=Name class="form-label">Name</label>
                <input asp-for=Name class="form-control" placeholder="Micheal">
            </div>

            <div class="col-sm-10">
                <label asp-for=Surname class="form-label">Surname</label>
                <input asp-for=Surname class="form-control" placeholder="Won">
            </div>

            <div class="col-sm-10">
                <label asp-for=PhoneNumber class="form-label">Phone Number</label>
                <input asp-for=PhoneNumber class="form-control" placeholder="07645543123">
            </div>

            <div class="col-sm-10">
                <label asp-for=Birthdate class="form-label">Birth Date</label>
                <input asp-for=Birthdate class="form-control">
            </div>
            <hr class="my-4">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>