@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MovieListingDto>

<div class="section-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Movies</h1>
            </div>

        </div>
    </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Movies</li>
    </ol>
    <div class="row">
        <div class="col-lg-4">
            <form class="ActivityForm" asp-action="GetMoviesByFiltered" asp-controller="Movie">

                <h3 class="searchHeader">Select cinema:</h3>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-check-label" style="font-weight: normal;font-size: 18px;margin-left: 10px;">Cinema :</label>
                        <select name="cinemaId" asp-items="@ViewBag.Cinemas" class="form-select">
                        </select>
                    </div>
                </div>

                <h3 class="searchHeader">Select type:</h3>
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-check-label" style="font-weight: normal;font-size: 18px;margin-left: 10px;">Type :</label>
                        <select name="categoryId" asp-items="@ViewBag.Categories" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Apply Filter">
                </div>
            </form>

        </div>
        <div class="col-lg-8">
            @foreach (var item in Model)
            {
                <div class="row">

                    <div class="col-md-4 col-sm-4">
                        @{
                            var base64 = Convert.ToBase64String(item.MovieBanner!);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <div class="pro-img-details">
                            <img id="large-image" class="img-responsive" src="@imgSrc" alt="Portfolio 1">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h3>Banzhow Template</h3>
                        <h4>Web Design</h4>
                        <p>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </p>
                        <form method="get" asp-action="GetMovie" asp-controller="Movie" asp-route-id=@item.MovieId>
                            <button class="btn btn-outline-danger" type="submit">See Movie Detail</button>
                        </form>
                        <hr />
                        @if (User.IsInRole("Customer"))
                        {
                            <form method="get" asp-action="BuyTicket" asp-controller="Customer" asp-route-id=@item.MovieId>
                                <button class="btn btn-outline-danger" type="submit">Buy</button>
                            </form>
                        }
                    </div>

                </div>
                <hr />
            }
            <hr>
        </div>
    </div>

</div><!-- /.container -->